</div>

<footer>
  <p>&copy; <%= new Date().getFullYear() %> [Alexandru Stoica]. All rights reserved. <%# Add design credit if desired %>
  </p>
</footer>

<script src="/js/theme.js"></script>
<script src="/js/nav.js"></script> 

</body>

</html>